.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    .main_flex_container{
        display: flex;
        margin-bottom: 40px;
        @media (max-width: 768px){
           flex-direction: column;
        }
        .body_flex_container{
            width: 100%;
            padding: 10px 60px;
            .bread{
                display: inline-block;
                padding: 10px 30px 10px 10px;
               
                a{
                    color: white;
                    margin: 10px;
                    &:hover{
                        transition: 1s;
                        color: #DA00FE;
                    }
                    &::before{
                        content: ">> ";
                    }
                }
            }
        }
    }
}