.products_container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1000px;
    max-height: 630px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background:none; 
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background:#DA00FE; 
        border-radius: 10px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
    .card_product{
        width: 220px;
        height: 300px;
        position: relative;
        .flex_product{
            background-color: #2D2D2D;
            height: 250px;
            position: absolute;
            bottom: 0;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            text-align: center;
            padding: 20px;
            img{
                width: 150px;
                max-height: 125px;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                top: -40px;
                right: 0;
                left: 0;
             }
            .product_context{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                bottom: 20px;
                h2{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }
                .card_category{
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: #8A8A8A;
                    margin-bottom: 15px;
                }
                .card_price{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #DA00FE;
                }
                .btn_add_tobasket{
                    width: 24px;
                    height: 24px;
                    background-color: antiquewhite;
                    color: none;
                    border-radius: 50%;
                    margin-top: 20px;
                    margin-left:-70px;
                    &::after{
                        position: absolute;
                        color: #FFFFFF;
                        left: 30px;
                        right: 0;
                        margin-left: 20px;
                        content: "Add to Cart";
                    }
                    &:hover{
                        transition: 1s;
                        background-color: #DA00FE;
                    }
                }
                & > div{
                    position: relative;
                    top: -30px;
                    left: -50px;
                    align-items: center;
                    .star_icon{
                        position: static;
                        display: inline;
                        width: 15px;
                        height: 15px;
                    }
                    span{
                        display: inline;
                        color:#DA00FE;
                        font-size: 10px;
                    }
                }
            }
        }
    }

}