.emptypage{
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    h2{
        display: inline-block;
        border-bottom:1px solid #DA00FE;
    }
   
}