.category_bar{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8A8A8A;
    &:hover{
        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }
    @media (max-width: 768px) {
        font-size: 13px;
    }
    .category_icon{
        margin-right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            margin-right: 5px;
        }
        img{
            @media (max-width: 768px) {
                width: 25px;
            } 
        }
    }
}